/* styles.css */

body {
    background-color: #0e1117;
}

h1, h2, h3 {
    font-weight: 700;
}

.stMetric {
    background: #111827;
    padding: 20px;
    border-radius: 12px;
}

.stProgress > div > div {
    background-image: linear-gradient(
        to right,
        #3b82f6,
        #06b6d4
    );
}

section[data-testid="stSidebar"] {
    background-color: #020617;
}

div.stAlert {
    border-radius: 12px;
}